<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities</title>
</head>

<body>
    <form action="/activity_registered" method="get" style="display: inline-grid;">
        <label for="">What kind of activity or sport:</label>
        <input type="text" name="type" id="" placeholder="Basketball or Soccer">
        <label for="">Max number of participants for one team:</label>
        <input type="number" name="max_num_participants" id="">
        <input type="submit" value="Add an activity">

    </form>
</body>

</html>