<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <ul>
        <li><a href="/locations">Add a location</a></li>
        <li><a href="/students">Add a student</a></li>
        <li><a href="/referees">Add a referee</a></li>
        <li><a href="/teams">Add a team</a></li>
        <li><a href="/activities">Add an activity</a></li>
        <li><a href="/schedules">Add a schedule</a></li>
    </ul>
    <form action="/greet" method="get">
        <input type="text" autofocus name="name" placeholder="name" required>
        <input type="submit">
    </form>
</body>

</html>