<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Location</title>
</head>

<body>
    <form action="/location_registered" method="get" style="display: inline-grid;">
        <label for="name_input">Location name :</label>
        <input id="name_input" type="text" name="loc_name" required>
        <label for="campus_input">Which campus is it located? :</label>
        <input id="campus_input" type="text" name="located_campus" required>
        <br>
        <input type="submit" value="Register">
    </form>
</body>

</html>