<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedules</title>
</head>

<body>
    <form action="/schedule_registered" method="get" style="display: inline-grid;">
        <label for="">What activity is it? :</label>
        <input type="text" autofocus name="activity_type_name" placeholder="Basketball or Soccer" required>
        WE should include teams and referees if needed
        <label for="">When does it take place? :</label>
        <input type="datetime-local" autofocus name="datetime" required>
        <label for="">Where does it take place? :</label>
        <input type="text" autofocus name="location_name" required placeholder="Football pitch Zhongguancun">
        <input type="submit" value="Submit">
    </form>
</body>

</html>