<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
</head>

<body>
    <form action="/team_registered" method="get" style="display: inline-grid;">
        <label for="">What kind of activity or sport does this team participate in? :</label>
        <select data-placeholder="Choose sport..." class="chosen-select" name="sport-types">
            {% block body %}
            <option value="" disabled selected>Sport</option>
            {% for sport in sport_types %}
            <option value="{{ sport }}">{{ sport }}</option>
            {% endfor %}

        </select>
        <label for="">Name of the team :</label>
        <input type="text" name="team_name" id="" placeholder="BIT dreamers" required>
        <label for="">Uniform color of the team:</label>
        <input type="text" name="uniform_color" id="" placeholder="Blue" required>
        <label for="">Who is the captain of the team? :</label>
        <select data-placeholder="Choose sport..." class="chosen-select" name="sport-types">
            <option value="" disabled selected>Name</option>
            {% for student in students %}
            <option value="{{ student }}">{{ student }}</option>
            {% endfor %}
            {% endblock %}
        </select>
        <input type="submit" value="Add a team">

    </form>
</body>

</html>