<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
</head>

<body>
    <form action="/team_registered" method="get" style="display: inline-grid;">
        <label for="">What kind of activity or sport does this team participate in? :</label>
        <input type="text" name="type" id="" placeholder="Basketball or Soccer" required>
        <label for="">Name of the team :</label>
        <input type="text" name="type" id="" placeholder="BIT dreamers" required>
        <label for="">Uniform color of the team:</label>
        <input type="text" name="type" id="" placeholder="Blue" required>
        <label for="">Who is the captain of the team? :</label>
        <input type="text" name="type" id="" placeholder="Ryan Swell">
        <input type="submit" value="Add a team">

    </form>
</body>

</html>